@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
html, body {
	padding: 0;
	margin: 0px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}
* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	transition: 350ms ease;
	user-select: none;
}
.scroll {
	width: 100%;
	height: 100vh;
	transition: 450ms ease;
	margin: 0px;
}

.first_page {
	background: linear-gradient(to right, #46484d, #64746e);
}
.welcome {
	display: flex;
	font-size: 4vw;
	font-family: 'Montserrat', sans-serif;
	color: #252525;
	margin: 0;
	padding-left: 18%;
	padding-top: 30vh;
}
.fpButton {
	width: 10rem;
	height: 3.5rem;
	margin-left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #28282d;
	border: none;
	border-radius: 1rem;
	color: #fff;
	font-size: 1.35rem;
	cursor: pointer;
	position: relative;
}
.fpButton>.btSpan {
	z-index: 2;
	position: absolute;
}
.pastille {
	background: #ffffff17;
	backdrop-filter: blur(0.313em);
	-webkit-backdrop-filter: blur(0.313em);
	border-radius: 50%;
	z-index: 0;
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 100%;
	left: 100%;
	transform: translate(-75%, -75%);
}
.fpButton:hover {
	width: 11rem;
	height: 4rem;
}
.fpButton:hover .pastille {
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	border-radius: 1rem;
	transform: translateY(-0.4rem);
}
.fpButton:hover>.btSpan {
	letter-spacing: 0.075rem
}
.second_page {
	background: rgb(61, 61, 61);
}
.third_page {
	background: #808080;
}
.contact_form {
	background: #86589b;
}
@media only screen and (max-width:1100px) {
	.fpButton {
		width: 9rem;
		height: 3rem;
		font-size: 1.30rem;
	}
}
@media only screen and (max-width:800px) {
	.welcome {
		font-size: 6vw;
		padding-top: 15vh;
	}
	.fpButton {
		margin-left: 60%;
	}
}
@media only screen and (max-width:550px) {
	.fpButton {
		width: 8.7rem;
		height: 2.7rem;
		font-size: 1.2rem;
		margin-left: 56%;
	}
	.fpButton:hover {
		width: 10rem;
		height: 3.4rem;
	}
}
@media only screen and (max-width:820px) and (max-height:1180px) {
	.welcome {
		font-size: 3.8rem;
		padding-left: 5rem;
	}
}
@media only screen and (max-width:500px) {
	.wrapperWELCOMEbutton {
		padding-top: 12rem;
	}
	.welcome {
		font-size: 8vw;
		padding-top: 5vh;
	}
}
@media only screen and (max-width:400px) {
	.wrapperWELCOMEbutton {
		padding-top: 12rem;
	}
	.fpButton {
		width: 8rem;
		height: 2rem;
		font-size: 1.1rem;
		margin-left: 54%;
	}
	.pastille {
		width: 1.5rem;
		height: 1.5rem;
	}
}
@media only screen and (max-width:360px) {
	.fpButton {
		margin-left: 52%;
		width: 7.7rem;
		height: 1.8rem;
		font-size: .9rem;
	}
	.fpButton:hover {
		width: 8rem;
	}
}
@media only screen and (max-width:300px) {
	.welcome {
		font-size: 8vw;
		padding-top: 5vh;
	}
	.fpButton {
		width: 6.5rem;
		height: 1.5rem;
		font-size: .7rem;
		margin-left: 51%;
	}
	.pastille {
		width: 1.1rem;
		height: 1.1rem;
	}
	.fpButton:hover {
		width: 6rem;
		height: 1.2rem;
	}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.contact_form {
	background: linear-gradient(to right, #535353, #7a6669);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-size: 12px;
}
.contact_form, .form_button, .form_input {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 1.4px;
}
.background {
	display: flex;
	min-height: 100vh;
}
.container {
	flex: 0 1 700px;
	margin: auto;
	padding: 10px;
}
.screen {
	position: relative;
	background: #3e3e3e;
	border-radius: 15px;
}
.screen:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	border-radius: 15px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
	z-index: -1;
}
.screen-header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background: #4d4d4f;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.screen-header-left {
	margin-right: auto;
}
.screen-header-button {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 3px;
	border-radius: 8px;
	background: white;
}
.screen-header-button.cancel {
	background: #5D4157;
}
.screen-header-button.maximize {
	background: #c7caa8;
}
.screen-header-button.minimize {
	background: #A8CABA;
}
.screen-header-right {
	display: flex;
}
.screen-header-ellipsis {
	width: 3px;
	height: 3px;
	margin-left: 2px;
	border-radius: 8px;
	background: #999;
}
.screen-body {
	display: flex;
}
.screen-body-item {
	flex: 1;
	padding: 50px;
}
.screen-body-item.left {
	display: flex;
	flex-direction: column;
}
.app-title {
	display: flex;
	flex-direction: column;
	position: relative;
	color: #FFF;
	font-size: 26px;
}
.app-title:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 25px;
	height: 4px;
	background: #FFF;
}
.app-contact {
	margin-top: auto;
	font-size: 8px;
	color: #888;
}
.app-form-group {
	margin-bottom: 15px;
}
.app-form-group.message {
	margin-top: 40px;
}
.app-form-group.buttons {
	margin-bottom: 0;
	text-align: right;
}
.app-form-control {
	width: 100%;
	padding: 10px 0;
	background: none;
	border: none;
	border-bottom: 1px solid #666;
	color: #ddd;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
	transition: border-color .2s;
}
.app-form-control::placeholder {
	color: #666;
}
.app-form-control:focus {
	border-bottom-color: #ddd;
}
.app-form-button {
	background: none;
	border: none;
	color: #FFF;
	font-size: 14px;
	cursor: pointer;
	outline: none;
}
.app-form-button:hover {
	color: #FFF;
}
@media screen and (max-width: 520px) {
	.screen-body {
		flex-direction: column;
	}
	.screen-body-item.left {
		margin-bottom: 30px;
	}
	.app-title {
		flex-direction: row;
	}
	.app-title span {
		margin-right: 12px;
	}
	.app-title:after {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.screen-body {
		padding: 40px;
	}
	.screen-body-item {
		padding: 0;
	}
}
.contactButton {
	color: white !important;
	border-radius: 0.4rem;
	background-color: #33333a;
	box-shadow: 15px 14px 37px -3px rgba(71, 71, 71, 0.59)!important;
}
.contactButton:hover {
	background-color: #606068;
}
.second_page {
	background: linear-gradient(to right, #3c3d41, #666b7a);
}
.third_page {
	background: linear-gradient(to right, #3f4044, #7a6677);
}
.wrapperSecondPage {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mainContent {
	color: white;
	padding-top: 5%;
	width: 60vw;
	height: 60vh;
	font-size: 3.2vh;
	backdrop-filter: blur(8px) saturate(100%);
	-webkit-backdrop-filter: blur(8px) saturate(100%);
	background-color: rgb(54, 54, 54);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}
.secondPageText {
	padding-left: 5%;
}
.positionContent {
	font-size: 3vh;
	padding-top: 2%;
	margin-left: 10%;
	margin-right: 30%;
	display: grid;
	grid-auto-flow: row;
	grid-column-gap: 10px;
}
.positionContent .contactButton {
	background-color: rgb(54, 54, 54);
	box-shadow: none !important;
}
.positionContent .contactButton:hover {
	background-color: #6a6d7a;
    text-decoration: none;
}

.nav {
    z-index: 1;
    height: 50px;
    width: 100%;
    background-color: #3f4044;
    position: sticky;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width:850px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
}
.nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
}
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
}
.nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
}
.nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
}
.nav > .nav-links > a {
    display: block;
    width: 100%;
}
.nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
}
}

#goToHome:hover{
    cursor: pointer;    
    background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width:1100px) {
	.mainContent {
		padding-top: 3%;
		width: 58vw;
		height: 40vh;
		font-size: 2.9vh;
	}

	.positionContent {
		font-size: 2.7vh;
		padding-top: 2%;
	}
}

@media only screen and (max-width:913px){
	.positionContent{
		font-size:2.5vh;
	}
}

@media only screen and (max-width:821px){
	.positionContent{
		font-size: 2.4vh;
	}
}
@media only screen and (max-width:650px){
	.mainContent {
		padding-top: 3%;
		width: 85vw;
		height: 35vh;
		font-size: 2.7vh;
	}
	.positionContent {
		font-size: 2.4vh;
		padding-top: 2%;
	}
}

@media only screen and (max-width:590px){
	.mainContent {
		padding-top: 3%;
		width: 85vw;
		height: 30vh;
		font-size: 2.2vh;
	}
	.positionContent {
		font-size: 1.9vh;
		padding-top: 2%;
	}
}

@media only screen and (max-width:450){
	.mainContent{
		font-size: 2vh;
	}
	.positionContent{
		font-size: 1.7vh;
	}
}