/*IMPORTANT : QUAND AJOUT D' ELEMENT, CHANGER LE PADDING POUR QUE CA FIT CORRECTEMENT SINON BUGS :) */

/*TROUVER POLICE*/
/*
Aucun fichier ouvert couleur : ababb3
Barre en dessous navbar main : 3f307e
texte sur main : 727174
*/

/*
FIX NEEDED
Barre responsive quand on descend la taille (probleme n'affecte aucun tel presque
hover du boutton parametres -> tooltip trop basse
*/

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

:root {
	--padding_to_change_on_publish: 100px;
	--left_menu_background_reduced: #17171b;
	--left_menu_background_expanded: #121114;
	--second_left_menu_background: #1f1f21;
	--main_background: #29292e;
	--second_search_background: #121115;
	--icon_color: #7c7c7c;
	--icon_color_hover: #999999;
	--info_hover_color: rgb(0, 0, 0);
	--info_hover_textcolor: rgb(214, 214, 214);
	--wrapper_second_left_menu_bordercolor: rgb(47, 40, 71);
	--wrapper_second_left_menu_backgroundcolor: #211f22;
	--wrapper_second_left_menu_title: rgb(207, 207, 207);
	--wrapper_second_left_menu_foldercolor: #7e7e7e;
	--font_family: 'Montserrat';
	--tree_view_active_hover: rgb(19, 19, 19);
	--scroll_bar_color: rgb(85, 74, 139);
	--main_content_border_color: rgb(85, 74, 139);
	--paragraph_text_color: rgb(235, 235, 235);
	--main_content_background: #282629;
	--main_content_title: #d3d3d3;
	--left_pan_menu_params: #181718;
	--center_pan_menu_params: #1b1b1b;
	--text_color_in_params_menu: rgb(236, 236, 236);
	--close_button_color_params_menu: rgb(129, 128, 128);
	--params_menu_shadow_borders: rgba(81, 36, 110, 0.54);
	--active_color_options_menu: rgba(112, 72, 177, 0.774);
	--unactive_color_options_menu: rgba(135, 107, 180, 0);
	--tooltip_help_back: rgb(39, 39, 39);
	--color_tooltip_text: white;
	--h_col : #a29bfe;
	--big_h:#6c5ce7;

}


* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	font-family: var(--font_family);
}

body {
	background-color: var(--main_content_background) !important;
	width: 100%;
	
}
body,html{
	overflow-x: hidden;
}
.class_remove_onload{
	overflow: hidden;
}
h2{
	font-family: 'Dosis', sans-serif;
	padding-left: 20px;
	color:var(--big_h)!important;
	padding-bottom: 20px;
}
h3{
	font-family: 'Dosis', sans-serif;
	padding-left: 20px;
	color:var(--h_col)!important;
	padding-bottom: 15px;
}

p{
	padding-left: 20px;
	font-family: 'Varela Round', sans-serif;
	color:var(--paragraph_text_color)!important;
	font-weight: 300;
	font-size:20px;
}

.loading_screen{
	z-index: 150;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: radial-gradient(#CECECE, #fff);
	justify-content: center;
	align-items: center;
	display: flex;
}

.container_load {
	width: 350px;
	height: 350px;
	border-radius: 100%;
	background: linear-gradient(165deg, rgb(27, 27, 27) 0%, rgb(48, 48, 48) 40%, rgb(80, 80, 80) 98%, rgbrgb(112, 112, 112)0%);
	position: relative;
}

.loader:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border-bottom: 0 solid #ffffff05;
	
	box-shadow: 
		0 -10px 20px 20px #ffffff40 inset,
		0 -5px 15px 10px #ffffff50 inset,
		0 -2px 5px #ffffff80 inset,
		0 -3px 2px #ffffffBB inset,
		0 2px 0px #ffffff,
		0 2px 3px #ffffff,
		0 5px 5px #ffffff90,
		0 10px 15px #ffffff60,
		0 10px 20px 20px #ffffff40;
	filter: blur(3px);
	animation: 2s rotate linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg)
	}
}

.hyperlink_text{
	font-family: 'Varela Round', sans-serif;
}

.listing_from_title{
	padding-left: 25px;
}
.wrapper_left_menu {
	z-index: 1;
	height: 100%;
	width: 30px;
	/*A CHANGER SI BESOIN*/
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--left_menu_background_reduced);
}

.left_menu_link {
	user-select: none;
	position: static;
	color: var(--icon_color);
}

.left_menu_link:hover {
	cursor: pointer;
	color: var(--icon_color_hover);
}

.infoHover {
	color: var(--info_hover_textcolor);
	background-color: var(--info_hover_color);
	font-family: var(--font_family);
	font-size: 0.7em;
	font-weight: bold;
	margin-top: -3px;
	padding: 7px 19px;
	border-radius: 7px;
}

/*Pas de moi*/
.left_menu_link:hover .infoHover::after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent var(--info_hover_color) transparent transparent;
}

/*----------------------------------------------------------------------------------*/

.left_menu_link .infoHover {
	display: none;
}

.left_menu_link:hover .infoHover {
	position: absolute;
	display: inline-block;
	margin-left: 12px;
}

.topleft_menu_bottom {
	position: absolute;
	bottom: 10px !important;
	left: 2px;
}

.wrapper_second_left_menu {
	position: fixed;
	margin-left: 30px;
	width: 340px;
	height: 100%;
	background-color: var(--wrapper_second_left_menu_backgroundcolor);
	border: 2px solid var(--wrapper_second_left_menu_bordercolor);

}

.wrapper_second_left_menu_icon {
	position: absolute;
	top: 27px;
	padding-bottom: 40px;
	left: 80px;
}

.wrapper_second_left_menu_title {
	position: absolute;
	user-select: none;
	cursor: default;
	top: 27.20589px;
	left: 120px;
	color: var(--wrapper_second_left_menu_title);
	font-size: 18px;
	font-weight: bold;
	font-family: var(--font_family);

}

.second_left_menu_link {
	cursor: default;
	user-select: none;
	color: var(--icon_color);
	margin-left: 5px;
}

.active {
	visibility: visible;
}

.inactive {
	visibility: hidden;
}

.wrapper_tree_view {
	display: flex;
	margin-top: 90px;
	padding-left: 25px;
	color: var(--wrapper_second_left_menu_foldercolor);
	font-family: var(--font_family);
	font-weight: 600;
	font-size: 18px;
}

.element_active_tree {
	background-color: var(--tree_view_active_hover);
	border-radius: 5px;
}

ul {
	list-style-type: none;
}

.firstParent:hover {
	cursor: pointer;

}

.childElem {
	padding-right: var(--padding_to_change_on_publish);
}

.childElem::before {
	content: "";
	display: absolute;
	margin-right: 0.5rem;
}

.childElem:hover {
	background-color: var(--tree_view_active_hover);
	cursor: pointer;
	border-radius: 5px;
}

.childElem.active::before {
	content: "";
}

/* toggler */
.toggler::before {
	font-family: monospace;
	content: "\25B6";
	display: inline-block;
	margin-right: 0.5rem;
	transition: transform 0.3s ease-in-out;
}

.toggler.active::before {
	transform: rotate(90deg);
}

.toggler-target {
	display: none;
	overflow-y: auto;
}

.toggler-target.active {
	display: block;
}

.wrapper_tree_view {
	height: 85vh;
	margin-right: 1px;
	overflow-y: scroll;
	scrollbar-width: 10px;
}

.main_content_wrapper {
	width: 81%;
	height: 100vh;
	background-color: var(--main_content_background) !important;
	margin-left: 370px;
}

.main_content {
	width: 81%;
}

.main_content_title {

	font-size: 32px;
	padding-left: 50px;
	padding-top: 10px;
	color: var(--main_content_title);
}

.line_holder {
	border-bottom: 3px solid var(--main_content_border_color);
}
.wrapper_article_content{
	display:flex;
	width: 98%	;
	flex-direction: column;
}
.paragraph_content_text {
	font-size: 20px;
	font-weight: 500;
	color: var(--paragraph_text_color);
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
}


::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	width: 2px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	width: 3.5px;
	border: 1.5px solid transparent;
	background-clip: content-box;
	background-color: var(--scroll_bar_color);
}

.full-screen {
	position: fixed;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
	background: var(--center_pan_menu_params);
}

.flex-container-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.full-screen {
	color: var(--text_color_in_params_menu);
}

.hidden {
	display: none;
}

.close {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
}

.close:hover {
	opacity: 1;
}

.close:before,
.close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: var(--close_button_color_params_menu);
}

.close:before {
	transform: rotate(45deg);
}

.close:after {
	transform: rotate(-45deg);
}

.off {
	position: absolute;
	display:none
}

.on {
	position: absolute;
	display:"";
}
.params_Menu{
	z-index:100!important;
}
.full-screen {
	border-radius: 10px;
	-webkit-box-shadow: 0px -2px 11px 1px var(--params_menu_shadow_borders);
	box-shadow: 0px -2px 11px 1px var(--params_menu_shadow_borders);
}

.nav_Pannel {
	position: fixed;
	width: 200px;
	border-radius: 10px 0 0 10px;
	left: 5%;
	top: 5%;
	bottom: 5%;
	height: 90%;
	background-color: var(--left_pan_menu_params);
}

.icon_edit {
	font-size: 17px;
}

.spacing_from_top {
	margin-top: 40px;
}

.spacing_middle_options {
	margin-top: 10px;
}

.button_param_position_1 {
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 5px;
	margin-left: 25px;
	margin-right: 20px;
	padding-bottom: 2px;
}

.button_param_position_2 {
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 5px;
	margin-left: 25px;
	margin-right: 20px;
	padding-bottom: 2px;
}
.button_param_position_3 {
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 5px;
	margin-left: 25px;
	margin-right: 20px;
	padding-bottom: 2px;
}
.button_param_position_1:hover,.button_param_position_2:hover,.button_param_position_3:hover {
	border-radius: 6px;
	background-color: var(--active_color_options_menu);
	cursor: pointer;
}

.tab_active_param {
	border-radius: 6px;
	background-color: var(--active_color_options_menu);
	cursor: default !important;
}

.tab_unactive_param {
	background-color: var(--unactive_color_options_menu);
	cursor: pointer;
}

.active_content_text {
	visibility: visible;
}

.unactive_content_text {
	visibility: hidden;
}

.content_apparence_menu {
	position: absolute;
	top: 2%;
	left: 230px;
}

.title_setting {
	padding-top: 5px;
	font-size: 20px;
}

.subtitle_setting {
	padding-top: 40px;
	font-size: 16px;
}

/*
COULEURS POUR THEMES
*/
/*THEME SOMBRE*/
.belizehole {
	background: #2980b9 !important;
}

.greensea {
	background: #16a085 !important;
}

.nephritis {
	background: #27ae60 !important;
}

.orange {
	background: #f39c12 !important;
}

.pomegranate {
	background: #c0392b !important;
}

.chestnutrose {
	background: #d24d57 !important;
}

.wisteria {
	background: #8e44ad !important;
}

.deepblush {
	background: #e76d89 !important;
}

/*THEME CLAIR*/

.turquoise {
	background: #1abc9c !important;
}

.emerald {
	background: #2ecc71 !important;
}

.peterriver {
	background: #3498db !important;
}

.sunflower {
	background: #f1c40f !important;
}

.alizarin {
	background: #e74c3c !important;
}

.bittersweet {
	background: #fe7968 !important;
}

.amethyst {
	background: #9b59b6 !important;
}

.nesyorkpink {
	background: #e08283 !important;
}

.circles_position {
	margin-left: -1px;
	padding-top: 18px;
	display: flex;
	flex-direction: row;
	width: 230px;
	justify-content: space-between;

}

.circle {
	width: 20px;
	height: 20px;
	background: blue;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.circle:hover {
	border: 2.5px solid var(--center_pan_menu_params);
}

.hover_help_couleur_accent:hover+.info_accent_color {
	display: block;
}

.info_accent_color {
	display: none;
	position: absolute;
	left: 255px;
	width: 243px;
	padding-left: 5px;
	margin-top: -25.25px;
	font-size: 14px;
	border-radius: 5px;
	color: var(--color_tooltip_text);
	background: var(--tooltip_help_back);
	border: 2px solid rgb(189, 189, 189);
}

.fas {
	padding-left: 3.5px;
}

.current_color:hover {
	border: 0px solid var(--center_pan_menu_params) !important;
	cursor: default !important;
}

.subtitle_setting_theme {
	padding-top: 40px;
	font-size: 16px;
}

.hover_help_theme_accent:hover+.info_accent_theme {
	display: block;
}

.info_accent_theme {
	display: none;
	position: absolute;
	left: 160px;
	width: 135px;
	padding-left: 5px;
	margin-top: -24px;
	font-size: 14px;
	border-radius: 5px;
	color: var(--color_tooltip_text);
	background: var(--tooltip_help_back);
	border: 2px solid rgb(189, 189, 189);
}

.container_themes {
	left: 0;
	margin-left: -20px;
	padding-top: 25px;
	width: 600px;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.image_theme {
	width: 166px;
	height: 166px;
	border-radius: 13px;
}

.image_theme:hover {
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid var(--scroll_bar_color);
}

.active_theme {
	cursor: default !important;
	border-radius: 15px;
	border: 3px solid var(--scroll_bar_color) !important;
}

.arrow_icon_theme_1 {
	position: absolute;
	font-size: 20px;
	left: 22%;
	bottom: 4%;
	color: var(--active_color_options_menu) !important;
}

.arrow_icon_theme_2 {
	position: absolute;
	font-size: 20px;
	left: 56.5%;
	bottom: 4%;
	color: var(--active_color_options_menu) !important;
}

.arrow_icon_theme_3 {
	position: absolute;
	font-size: 20px;
	left: 91%;
	bottom: 4%;
	color: var(--active_color_options_menu) !important;
}

.content_feedback_menu{
	font-size: 32px;
}

.heap_clicker{
	cursor: pointer;
}

.code_sample{
	left:20px;
	margin-left: 17px;
	margin-top: 10px;
	width:40%;
	color: var(--paragraph_text_color);
	background-color: var(--left_menu_background_expanded);
	border-radius: 10px;
	border:3px solid var(--paragraph_text_color);
}

.offf{
	visibility: hidden;
}

.onn{
	visibility: visible;
}