/*IMPORTANT : QUAND AJOUT D' ELEMENT, CHANGER LE PADDING POUR QUE CA FIT CORRECTEMENT SINON BUGS :) */

/*TROUVER POLICE*/
/*
Aucun fichier ouvert couleur : ababb3
Barre en dessous navbar main : 3f307e
texte sur main : 727174
*/

/*
FIX NEEDED
Barre responsive quand on descend la taille (probleme n'affecte aucun tel presque
hover du boutton parametres -> tooltip trop basse


*/
:root {
	--padding_to_change_on_publish : 100px;
	--left_menu_background_reduced: #17171b;
	--left_menu_background_expanded: #121114;
	--second_left_menu_background: #1f1f21;
	--main_background: #29292e;
	--second_search_background: #121115;
	--icon_color: #7e7e7e;
	--icon_color_hover: #999999;
	--info_hover_color: rgb(0, 0, 0);
	--info_hover_textcolor: rgb(214, 214, 214);
	--wrapper_second_left_menu_bordercolor: #2f2847;
	--wrapper_second_left_menu_backgroundcolor: #211f22;
	--wrapper_second_left_menu_title: rgb(207, 207, 207);
	--wrapper_second_left_menu_foldercolor: #7e7e7e;
	--font_family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	--tree_view_active_hover : rgb(19, 19, 19);
	--scroll_bar_color : #554a8b;
	--main_content_border_color :#554a8b;
	--paragraph_text_color:rgb(235, 235, 235);
	--main_content_background:#282629;
	--main_content_title:#d3d3d3;
}

* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	font-family: var(--font_family);
}

body {
	background-color: var(--main_content_background) !important;
	overflow-x: hidden;
	width: 100%;
}

.wrapper_left_menu {
	z-index: 1;
	height: 100%;
	width: 30px;
	/*A CHANGER SI BESOIN*/
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--left_menu_background_reduced);
}

.left_menu_link {
	user-select: none;
	position: static;
	color: var(--icon_color);
}

.left_menu_link:hover {

	cursor: pointer;
	color: var(--icon_color_hover);
}

.infoHover {
	color: var(--info_hover_textcolor);
	background-color: var(--info_hover_color);
	font-family: var(--font_family);
	font-size: 0.7em;
    font-weight: bold;
    margin-top: -3px;
	padding: 7px 19px;
	border-radius: 7px;
}

/*Pas de moi*/
.left_menu_link:hover .infoHover::after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent var(--info_hover_color) transparent transparent;
}

/*----------------------------------------------------------------------------------*/

.left_menu_link .infoHover {
	display: none;
}

.left_menu_link:hover .infoHover {
	position: absolute;
	display: inline-block;
	margin-left: 12px;
}

.topleft_menu_bottom {
	position: absolute;
	bottom: 10px !important;
	left: 2px;
}

.wrapper_second_left_menu {
	position: fixed;
	margin-left: 30px;
	width: 340px;
	height: 100%;
	background-color: var(--wrapper_second_left_menu_backgroundcolor);
	border: 2px solid var(--wrapper_second_left_menu_bordercolor);
	
}

.wrapper_second_left_menu_icon {
	position: absolute;
	top: 27px;
	padding-bottom: 40px;
	left: 80px;
}

.wrapper_second_left_menu_title {
	position: absolute;
	user-select: none;
	cursor: default;
	top: 27.20589px;
	left: 120px;
	color: var(--wrapper_second_left_menu_title);
	font-size: 18px;
    font-weight: bold;
	font-family: var(--font_family);

}

.second_left_menu_link {
	cursor: default;
	user-select: none;
	color: var(--icon_color);
	margin-left: 5px;
}

.active {
	visibility: visible;
}

.inactive {
	visibility: hidden;
}

.wrapper_tree_view{
    display:flex;
    margin-top: 90px;
    padding-left: 25px;
    color:var(--wrapper_second_left_menu_foldercolor);
    font-family: var(--font_family);
    font-weight: 549;
    font-size:18px;
}

.element_active_tree{
	background-color: var(--tree_view_active_hover);
	border-radius: 5px;
}
ul {
    list-style-type: none;
  }
  
.firstParent:hover {
    cursor: pointer;

}
.childElem{
	padding-right: var(--padding_to_change_on_publish);
}
.childElem::before {
    content: "";
    display: absolute;
    margin-right: 0.5rem;
}
  
.childElem:hover{
	background-color: var(--tree_view_active_hover);
	cursor:pointer;
	border-radius: 5px;
}
  
.childElem.active::before {
    content: "";
}
  
/* toggler */
.toggler::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 0.5rem;
    transition: transform 0.3s ease-in-out;
}
  
.toggler.active::before {
    transform: rotate(90deg);
}
  
.toggler-target {
    display: none;
	overflow-y: auto;
}
  
.toggler-target.active {
    display: block;
}

.wrapper_tree_view{
	height:85vh;
	margin-right:1px;
	overflow-y: scroll;	
  	scrollbar-width:10px;
}

.main_content_wrapper{
	width: 100%;
	height:100vh;
	background-color: var(--main_content_background)!important;
	margin-left: 370px;
}

.main_content{
	
	width: 100%;
}
.main_content_title{

	font-size: 32px;
	padding-left: 50px;
	padding-top: 10px;
	color:var(--main_content_title);
}

.line_holder{
	border-bottom: 3px solid var(--main_content_border_color);
}

.paragraph_content_text{
	font-size:20px;
	font-weight: 500;
	color: var(--paragraph_text_color);
	padding-left: 30px;
	padding-right:15px;
	padding-top: 10px;
	padding-bottom: 15px;
}



::-webkit-scrollbar {
	width: 5px;
}
  
::-webkit-scrollbar-track {
	width:2px;
	border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	width:3.5px;
	border: 1.5px solid transparent;
	background-clip: content-box;
	background-color: var(--scroll_bar_color);
}



.full-screen {
	position: fixed;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
	background: rgb(16, 15, 17);
}

.flex-container-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}

.full-screen{
	color: rgb(196, 196, 196);
}

.hidden {
	display: none;
}
.close {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: rgb(129, 128, 128);
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
  
#hide-checkbox {
	opacity: 0;
	height: 0;
	width: 0;
}
  
.toggle {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 200px;
	height: 100px;
	background: #211042;
	border-radius: 50px;
	transition: 500ms;
	overflow: hidden;
}
  
.toggle-button {
	position: absolute;
	display: inline-block;
	top: 7px;
	left: 6px;
	width: 86px;
	height: 86px;
	border-radius: 50%;
	background: #FAEAF1;
	overflow: hidden;
	box-shadow: 0 0 35px 4px rgba(255, 255, 255);
	transition: all 500ms ease-out;
}
  
.crater {
	position: absolute;
	display: inline-block;
	background: #FAEAF1;
	border-radius: 50%;
	transition: 500ms;
}
  
.crater-1 {
	background: #FFFFF9;
	width: 86px;
	height: 86px;
	left: 10px;
	bottom: 10px;
}

.crater-2 {
	width: 20px;
	height: 20px;
	top: -7px;
	left: 44px;
}
  
.crater-3 {
	width: 16px;
	height: 16px;
	top: 20px;
	right: -4px;
}
  
.crater-4 {
	width: 10px;
	height: 10px;
	top: 24px;
	left: 30px;
}
  
.crater-5 {
	width: 15px;
	height: 15px;
	top: 40px;
	left: 48px;
}
  
.crater-6 {
	width: 10px;
	height: 10px;
	top: 48px;
	left: 20px;
}
  
.crater-7 {
	width: 12px;
	height: 12px;
	bottom: 5px;
	left: 35px;
}
  
.star {
	position: absolute;
	display: inline-block;
	border-radius: 50%;
	background: #FFF;
	box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}
  
.star-1 {
	width: 6px;
	height: 6px;
	right: 90px;
	bottom: 40px;
}
  
.star-2 {
	width: 8px;
	height: 8px;
	right: 70px;
	top: 10px;
}
  
.star-3 {
	width: 5px;
	height: 5px;
	right: 60px;
	bottom: 15px;
}
  
.star-4 {
	width: 3px;
	height: 3px;
	right: 40px;
	bottom: 50px;
}
  
.star-5 {
	width: 4px;
	height: 4px;
	right: 10px;
	bottom: 35px;
}
  
.star-6, .star-7, .star-8 {
	width: 10px;
	height: 2px;
	border-radius: 2px;
	transform: rotate(-45deg);
	box-shadow: 5px 0px 4px 1px #FFF;
	animation-name: travel;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}
  
.star-6 {
	right: 30px;
	bottom: 30px;
	animation-delay: -2s;
}
  
.star-7 {
	right: 50px;
	bottom: 60px;
}
  
.star-8 {
	right: 90px;
	top: 10px;
	animation-delay: -4s;
}
  
@keyframes travel {
	0% {
	  transform: rotate(-45deg) translateX(70px);
	}
  
	50% {
	  transform: rotate(-45deg) translateX(-20px);
	  box-shadow: 5px 0px 6px 1px #FFF;
	}
  
	100% {
	  transform: rotate(-45deg) translateX(-30px);
	  width: 2px;
	  height: 2px;
	  opacity: 0;
	  box-shadow: none;
	}
}
  
#hide-checkbox:checked + .toggle {
	background: #24D7F7;
}
  
#hide-checkbox:checked + .toggle .toggle-button {
	background: #F7FFFF;
	transform: translateX(102px);
	box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}
  
#hide-checkbox:checked + .toggle .toggle-button .crater {
	transform: rotate(-45deg) translateX(70px);
}
  
#hide-checkbox:checked + .toggle .star {
	animation: move 2s infinite;
	transform: none;
	box-shadow: none;
}
  
#hide-checkbox:checked + .toggle .star-1 {
	width: 40px;
	height: 10px;
	border-radius: 10px;
	background: #FFF;
	left: 20px;
	top: 25px;
	box-shadow: none;
}
  
#hide-checkbox:checked + .toggle .star-2 {
	width: 12px;
	height: 12px;
	background: #FFF;
	left: 26px;
	top: 23px;
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}
  
#hide-checkbox:checked + .toggle .star-3 {
	width: 16px;
	height: 16px;
	background: #FFF;
	left: 35px;
	top: 19px;
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}
  
#hide-checkbox:checked + .toggle .star-4 {
	width: 14px;
	height: 14px;
	background: #FFF;
	left: 46px;
	top: 21px;
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}
  
#hide-checkbox:checked + .toggle .star-5 {
	width: 60px;
	height: 15px;
	border-radius: 15px;
	background: #FFF;
	left: 30px;
	bottom: 20px;
	box-shadow: none;
}
  
#hide-checkbox:checked + .toggle .star-6 {
	width: 18px;
	height: 18px;
	background: #FFF;
	border-radius: 50%;
	left: 38px;
	bottom: 20px;
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}
  
#hide-checkbox:checked + .toggle .star-7 {
	width: 24px;
	height: 24px;
	background: #FFF;
	border-radius: 50%;
	left: 52px;
	bottom: 20px;
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}
  
#hide-checkbox:checked + .toggle .star-8 {
	width: 21px;
	height: 21px;
	background: #FFF;
	border-radius: 50%;
	left: 70px;
	top: 59px;
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}
  
@keyframes move {
	0% {
	  transform: none;
	}
	
	25% {
	  transform: translateX(2px);
	}
	
	100% {
	  transform: translateX(-2px);
	}
}

.off {
	position: absolute;
	visibility: hidden;
}

.on {
	position: absolute;
	visibility: visible;
}

