
/*IMPORT URLS*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;600&display=swap');


:root{
    --body_background : #1E1E1E;
    --squares_color : #D9D9D9;
    --tiny1 : #535353;
    --title_color:#ffffff;
    --tiny2: #ADADAD;
    --tiny3:#CACACA;
    --case_title_color: #484848;
    --logo_case: #8D8D8D;
    --number_case:#868686;
}

* {
    box-sizing: border-box;
    margin:0;
}

body{
    background-color: var(--body_background);
}

.container_squares{
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

.square{
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    width: 10vw;
    height: 20vh;
    background-color:var(--squares_color);
    border-radius: 20%;
}

.tiny_square1{
    overflow:visible;
    width:3vw;
    height: 6vh;
    margin-left: 82%;
    margin-top: 15%;
    border-radius: 20%;
    background-color: var(--tiny1);
}

.tiny_square2{
    position: relative;
    z-index:3;
    width: 1.5vw;
    height: 3vh;
    margin-top: -25%;
    margin-left: 75%;
    border-radius: 20%;
    background-color: var(--tiny2);
}

.tiny_square3{
    position: relative;
    z-index:4;
    width: 1vw;
    height: 2vh;
    margin-top: -5%;
    margin-left: 78%;
    border-radius: 20%;
    background-color: var(--tiny3);
    transform: rotate(45deg);
}

.square:hover{
    cursor: pointer;
}

.square:hover > .tiny_square1 {
    position: relative;
    z-index:2;
    animation: Yaxis 2s ease-in-out infinite;
}

.square:hover > .tiny_square2 {
    position: relative;
    z-index:3;
    animation: XYaxis 2s ease-in-out infinite;
}

.square:hover > .tiny_square3 {
    position: relative;
    z-index:4;
    animation: rotate 2s ease-in-out infinite;
}

.title{
    font-size: 550%;
    margin-left: 10%;
    margin-top: 2%;
    color:var(--title_color);
    font-family: 'Dosis', sans-serif;
}

/*animation: Yaxis 2s ease-in-out infinite;*/
@keyframes Yaxis
{
  0%, 100%
  {
    transform: translateY(5px);
  }
  
  50%
  {
    transform: translateY(-5px);
  }
}
@keyframes XYaxis
{
  0%, 100%
  {
    transform: translateY(5px);
  }
  
  50%
  {
    transform: translate(-5px);
  }
}
@keyframes rotate
{
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
        transform: translateY(5px);
      }
      25% {
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
      }
      50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
        transform: translate(5px);
      }
      75% {
        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
      }
      100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
        transform: translateY(5px);
      }
}

.case_title{
    position: relative;
    padding-left: 10%;
    padding-top: 20%;
    font-size: 270%;
    font-family: 'Dosis', sans-serif;
    color: var(--case_title_color);
}

.logo_case{
    width: 4vw;
    height: 8vh;
    border-radius: 15%;
    margin-top: -80%;
    margin-left: 10%;
    background-color: var(--logo_case);
}

.number_case{
    width:2.5vw;
    height: 5vh;
    margin-left: 60%;
    margin-top: 3%;
    text-align: center;
    border-radius: 20%;
    background-color: var(--number_case);
}

.count_number_case{
    color: white;
    font-family: 'Dosis', sans-serif;
    padding: 10% 0;
    font-size: 200%;
}

.more_button{
    overflow: visible;
    width: 2vw;
    height: 3.5vh;
    text-align: center;
    border-radius: 10px;
    margin-left: 85%;
    margin-top: 8%;
}

.more_text{
    line-height: 3.5vh;
    color: white;
    font-size: 150%;
    font-family: 'Dosis', sans-serif;
}